.git
.gitignore
.github
.vscode
.idea
node_modules
vendor
*.log
*.sqlite
.env
.env.*
*.pem
*.key
*.crt
.DS_Store
*.swp
*.swo
*.swn
*.bak
*.backup
*~
Dockerfile
.dockerignore
docker-compose*
README.md
LICENSE
